body {
    padding: 40px;
    width: 80%;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
    background-image: url("Cardcaptor_Sakura_BD_volume_1_cover.jpg");
    background-repeat: repeat;
}



.content {
    background-color: rgba(255,255,255, 0.75);
    width: 100%;
    padding: 16px;
}
h1 {
    text-align: center;
    font-size: 4em;
    color: green;
}

h1.secret {
    color: fuchsia;
}

h2 {
    text-align: center;
}

audio {
    margin: 0 auto;
    width: 50%;
}

.audio-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: .75em;
}

.title-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title-container > img {
    height: 100px;
}

@keyframes breath {
    0%   { width: 75%; height: 75%;}
    50% { width: 100%; height: 100%;}
    100% { width: 75%; height: 75%;}
}

.audio-container > .img-container {
    max-width: 50vw;
    height: 500px;
    margin: 0 auto;
    padding-top: 32px;
    display: flex;
    justify-content: center;
    vertical-align: center;
    flex-direction: column;
}

.audio-container > .img-container > img {
    height: 100%;
    margin: 0 auto;
    animation: breath 3s linear infinite;
}



.secret > p {
    color: grey;
}


marquee {
    font-size: 3vw;
    text-indent: -100%;
    color: pink;
}

hr {
    width: 90%;
    margin: 0 auto;
}

.marquee {
    overflow: hidden;
    display: flex;
}

.marquee h2 {
    font-size: 5em;
    white-space: nowrap;
    text-transform: uppercase;
    color: pink;
    background: aqua;
}

.secret-link {
    color: pink;
    text-decoration: none;
}

p {
    font-size: 2em;
}